[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
pyyaml = "*"
requests = "*"
ipython = "*"
django = "*"
djangorestframework = "*"
django-enum-choices = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.7"

[scripts]
django-server = "python strava_viz/manage.py runserver"
